.card { font-family: robot ; font-size: 18px; #font-style:italic; #text-decoration:underline; text-align: left; color: black; background-color: white;  word-wrap: break-word;}
    .nightmode .card { font-family:robot }

.cloze { font-weight: none; color: grey !important; #text-decoration:underline; display:inline;  }
    .nightMode .cloze { color: pink !important; }

.grey { color: grey; } 
    .nightmode .grey { color: beige !important; } 
.red { color:red;}
    .nightmode .red { color:red !important;}
.blue { color:blue;}
    .nightmode .blue { color:blue !important;}
.green { color:green;}
    .nightmode .green { color:green !important;}
.orange { color:orange;}
    .nightmode .orange { color:orange !important;}
.headerField { color:black !important ; font-style:bold ;}
    .nightMode .headerField { color:white !important ; font-style:bold}


.notOnMobile { color:grey; font-weight:bold; }
    .mobile .notOnMobile { display : none ;}
.hiddenThings {display : none;}
.smallFontHeader { font-size : 12px } 
.tagsContainer {display:none}
	.mobile .tagsContainer {display:flex}

/* if you want to edit clozolkor's hints or something, it had to be handled via js so the related lines will be found in the front and back sections */

span.leech    { font-family: "Sans Forgetica"; }
span.ease1300 { font-family: "Sans Forgetica"; }
span.ease1350 { font-family: "Sans Forgetica"; }
span.ease1400 { font-family: "Sans Forgetica"; }
span.ease1500 { font-family: "Sans Forgetica"; }

