.card {
 font-family: arial;
 font-size: 20px;
 text-align: left;
 color: black;
 background-color: white;
}

.cloze {
 font-weight: bold;
 color: red;
}
.nightMode .cloze {
 color: lightgreen;
}

/* cloze one by one : */
.biggerButtonOnlyOnMobile {display:none}
.mobile .biggerButtonOnlyOnMobile {display:flex !important; flex-wrap:no-wrap; justify-content:center !important}
.buttonSizeSmall {flex-grow:1 ; font-size : 10px !important }
.buttonSizeBig {flex-grow:20 ; font-size : 30px !important }


/*if you want the button to appear on the computer, remove the first line and remove ".mobile" (but you should probably use the keyboard shortcuts instead) */

